<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/5212CA75-C750-43EB-B93F-FFBB415B72F7</string>
	<key>Model</key>
	<string>MacBookAir6,1</string>
	<key>NetworkServices</key>
	<dict>
		<key>1AB09472-3769-4159-9425-6F4D52964ACC</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Bridge</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
		<key>43872F30-2455-4773-B88E-1AC31770A49B</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Bridge</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
		<key>465B96F9-04F3-4ABA-A970-8C954E86C791</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>B679D49F-E171-45EE-B141-4C7EFFF64A5A</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>E068E70F-64D2-47F1-BA88-60B031E6F8CB</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en2</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Bluetooth PAN</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Bluetooth PAN</string>
		</dict>
		<key>EF93565C-1D0A-49EA-8BDA-8427C406552F</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en2</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Bluetooth PAN</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Bluetooth PAN</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>5212CA75-C750-43EB-B93F-FFBB415B72F7</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>465B96F9-04F3-4ABA-A970-8C954E86C791</string>
							<string>E068E70F-64D2-47F1-BA88-60B031E6F8CB</string>
							<string>1AB09472-3769-4159-9425-6F4D52964ACC</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinModeFallback</key>
							<array>
								<string>DoNothing</string>
							</array>
							<key>PowerEnabled</key>
							<true/>
							<key>RememberJoinedNetworks</key>
							<true/>
							<key>RequireAdminIBSS</key>
							<false/>
							<key>RequireAdminNetworkChange</key>
							<false/>
							<key>RequireAdminPowerToggle</key>
							<false/>
							<key>Version</key>
							<integer>2200</integer>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>1AB09472-3769-4159-9425-6F4D52964ACC</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/1AB09472-3769-4159-9425-6F4D52964ACC</string>
					</dict>
					<key>465B96F9-04F3-4ABA-A970-8C954E86C791</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/465B96F9-04F3-4ABA-A970-8C954E86C791</string>
					</dict>
					<key>E068E70F-64D2-47F1-BA88-60B031E6F8CB</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/E068E70F-64D2-47F1-BA88-60B031E6F8CB</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
		<key>90FFE8BE-848C-4411-B089-29AFEC95D4FB</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>B679D49F-E171-45EE-B141-4C7EFFF64A5A</string>
							<string>EF93565C-1D0A-49EA-8BDA-8427C406552F</string>
							<string>43872F30-2455-4773-B88E-1AC31770A49B</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinModeFallback</key>
							<array>
								<string>DoNothing</string>
							</array>
							<key>PowerEnabled</key>
							<true/>
							<key>RememberJoinedNetworks</key>
							<true/>
							<key>Version</key>
							<integer>2200</integer>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>43872F30-2455-4773-B88E-1AC31770A49B</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/43872F30-2455-4773-B88E-1AC31770A49B</string>
					</dict>
					<key>B679D49F-E171-45EE-B141-4C7EFFF64A5A</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/B679D49F-E171-45EE-B141-4C7EFFF64A5A</string>
					</dict>
					<key>EF93565C-1D0A-49EA-8BDA-8427C406552F</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/EF93565C-1D0A-49EA-8BDA-8427C406552F</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>F</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>gors-MacBook-Air</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>gor’s MacBook Air</string>
			<key>ComputerNameEncoding</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>VirtualNetworkInterfaces</key>
	<dict>
		<key>Bridge</key>
		<dict>
			<key>bridge0</key>
			<dict>
				<key>Interfaces</key>
				<array>
					<string>en1</string>
				</array>
				<key>Options</key>
				<dict>
					<key>__AUTO__</key>
					<string>thunderbolt-bridge</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
